/* FONDO */
body.lockscreen {
  background: url("../../img/background2.png") no-repeat center center fixed;
  background-size: cover;
}



/* Centrar todo dentro del login */
.lockscreen-wrapper {
  text-align: center;
}

/* Logo del centro médico */
.lockscreen-logo a {
  font-size: 28px;
  font-weight: 600;
  color: white;
}

/* Nombre del sistema */
.lockscreen-name {
  font-size: 18px;
  margin-bottom: 20px;
  color: white !important;
}

/* Tarjeta del login */
.lockscreen-item {
  background: white;
  padding: 35px 30px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  max-width: 380px;
  margin: auto;
}

/* Logo dentro del login */
.lockscreen-image {
  margin-bottom: 20px;
}

.lockscreen-image img {
  width: 100px;
  height: auto;
  border-radius: 10px;
}

/* Input DNI */
.lockscreen-credentials .form-control {
  height: 45px;
  border-radius: 8px;
  text-align: center;
}

/* Botón */
.input-group-btn .btn {
  border-radius: 8px;
  width: 50px;
}

/* Mensaje */
.help-block {
  margin-top: 15px;
  color: white;
}

/* Ubicación */
.text-muted {
  color: #e0e0e0 !important;
}

/* Footer */
.lockscreen-footer {
  margin-top: 20px;
  color: white;
}