/* LOGIN MODERNO ADMIN LTE */
.modern-login {
  width: 900px;
}

/* CENTRAR TODO EL LOGIN EN LA PANTALLA */
body.lockscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.lockscreen-wrapper {
  width: 900px;
  max-width: 95%;
}

/* Tarjeta principal */
.login-card {
  display: flex;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* LADO IZQUIERDO */
.login-left {
  width: 50%;
  background: linear-gradient(135deg,#0548ff,#00a8ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left img {
  width: 70%;
}


/* LADO DERECHO */
.login-right {
  width: 50%;
  padding: 40px;
  text-align: center;
}

/* LOGO */
.logo-center img {
  width: 80px;
  margin: 15px 0;
}

/* INPUT */
.input-modern input {
  border-radius: 20px;
  padding: 10px;
  font-size: 3.5rem;
}
.input-group-append{
  display: flex;
}

/* TITULOS */
.lockscreen-name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 3.5rem; 
}

.help-block{
  font-size: 1.5rem;
  color: #666;
}